<div class="row container no-fill no-margin">
	<div
		*ngFor="let image of images; let i = index"
		class="col"
		tabindex="0"
		(keydown.enter)="openLightbox(i)"
	>
		<img
			[src]="image.image_sizes['thumbnail'].uri"
			(click)="openLightbox(i)"
			class="hover-shadow preview"
			[alt]="image.description"
		/>
	</div>
</div>

<div *ngIf="isOpen" class="modal" (keydown.escape)="closeLightbox()">
	<span class="close pointer" (click)="closeLightbox()">&times;</span>
	<div class="modal-content">
		<div
			class="img-container"
			tabindex="0"
			(keydown.arrowleft)="changeSlide(-1)"
			(keydown.arrowright)="changeSlide(1)"
		>
			<div
				*ngFor="let image of images; let i = index"
				class="slide"
				[attr.style]="
					slideIndex == i ? 'display: block;' : 'display: none;'
				"
			>
				<img
					[src]="image.image_sizes['optimal'].uri"
					class="image-slide"
					[alt]="image.description"
				/>
				<h3>{{ image.description }}</h3>
			</div>

			<a
				class="previous"
				tabindex="0"
				(click)="changeSlide(-1)"
				(keydown.enter)="changeSlide(-1)"
				>&#10094;</a
			>
			<a
				class="next"
				tabindex="0"
				(click)="changeSlide(1)"
				(keydown.enter)="changeSlide(1)"
				>&#10095;</a
			>
		</div>

		<div class="dots">
			<div
				*ngFor="let image of images; let i = index"
				class="col"
				tabindex="0"
				(keydown.enter)="moveSlide(i)"
			>
				<img
					[src]="image.image_sizes['thumbnail'].uri"
					class="modal-preview hover-shadow"
					(click)="moveSlide(i)"
					[alt]="image.description"
					[class.active]="i == slideIndex"
					[tabindex]="1 + i"
				/>
			</div>
		</div>
	</div>
</div>
