<div class="form-container">
	<div *ngIf="error" class="submit-errors">
		<p>
			The AI have failed us. We could not generate a description, and so
			will not store your image.
		</p>
	</div>
	<div *ngIf="invalidImage" class="submit-errors">
		<p>Provided file was not a valid image</p>
	</div>
	<div *ngIf="showErrorsForGroup()" class="form-errors">
		<p *ngFor="let error of getGroupValidationErrors()">
			{{ error }}
		</p>
	</div>
	<div *ngIf="imgSource !== null && !success">
		<h3>Image Preview</h3>
		<img
			id="preview-image"
			aria-details="Image Preview"
			[src]="imgSource"
			(error)="onImageLoadFailed()"
		/>
	</div>
	<form
		*ngIf="!loading && !success"
		[formGroup]="formGroup"
		(ngSubmit)="onSubmit($event)"
	>
		<label class="upload">
			<input type="file" name="image" (change)="onFileChanged($event)" />
			<fa-icon [icon]="faCloudUpload"></fa-icon> Upload an Image
		</label>
		<div>
			<button class="success" type="submit">Submit</button>
			<button
				name="Clear"
				class="warn"
				type="button"
				(click)="resetForm()"
			>
				Clear
			</button>
		</div>
	</form>
	<div *ngIf="loading" class="loading-container">
		<h2>Loading...</h2>
	</div>
	<div *ngIf="success" class="success-container">
		<h4>Form Submitted Successfully!</h4>
		<button
			name="Reset Form"
			class="warn"
			type="button"
			(click)="resetForm()"
		>
			Start Again
		</button>
	</div>
</div>
