<h1 class="page-title">About Us</h1>
<div class="grid-base">
	<div class="row">
		<div class="container no-fill">
			<img
				src="/assets/images/office_space.jpg"
				alt="A person writing in a notebook on a desk in a well lit office space. There is a plant on the persons desk."
			/>
			<wcw-content-editor
				class="row"
				id="642b9ca8-fab1-47b3-9be4-db05a33cf4a6"
				[useContainer]="false"
			></wcw-content-editor>
		</div>
		<div class="container no-fill">
			<img
				src="/assets/images/passion.jpg"
				alt="Scrabble tiles spelling out passion and drive."
			/>
		</div>
	</div>
	<div class="row history-row">
		<wcw-content-editor
			id="0a279d60-5b35-4e56-9c56-eafc90a4acf9"
		></wcw-content-editor>
	</div>
</div>
