<h1 class="page-title">Contact Us</h1>

<div class="grid-base">
	<div class="square-4">
		<wcw-content-editor
			class="square-4"
			id="a8b20868-ca7d-49e6-b5cc-8efe65c06778"
		>
		</wcw-content-editor>
	</div>
	<div class="square-4">
		<wcw-content-editor
			class="square-4"
			id="be821a0d-f3b3-4aa9-8c7d-ada69f141918"
		>
		</wcw-content-editor>
	</div>
	<div class="container square-4 map-container">
		<h3>Message Us</h3>
		<wcw-contact-form></wcw-contact-form>
	</div>
	<div class="container square-4 map-container">
		<wcw-content-editor
			[useContainer]="false"
			class="square-4"
			id="cdede997-224d-4686-a7e0-0bf321281e9f"
		>
		</wcw-content-editor>
		<iframe
			title="Google Map with Directions to Woodiwiss Consultants"
			class="map"
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d744.1205286580495!2d-2.995619083199326!3d51.1469528430788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48720625f91cbac1%3A0x46fc383c92bedacb!2sMallard%20Court!5e0!3m2!1sen!2suk!4v1638127480829!5m2!1sen!2suk"
			style="border: 0"
			loading="lazy"
		></iframe>
	</div>
</div>
