<h1 class="page-title">Services</h1>
<div class="grid-base">
	<div class="row container split-row">
		<wcw-content-editor
			class="col"
			id="0d77774c-a478-47f2-9b38-ee6619107d8c"
			[useContainer]="false"
		></wcw-content-editor>
		<div class="col">
			<img
				src="/assets/images/finally_free.jpg"
				alt="Scrabble tiles spelling Finally and Free"
			/>
		</div>
	</div>
	<div class="row container split-row">
		<wcw-content-editor
			class="col"
			id="7f554bbc-ba4b-4b68-92d4-e8fb69ac4221"
			[useContainer]="false"
		></wcw-content-editor>
		<div class="col">
			<img
				src="/assets/images/photography.jpg"
				alt="Two vintage cameras"
			/>
		</div>
	</div>
	<div class="row container split-row">
		<wcw-content-editor
			class="col"
			id="16bc351b-51a1-4bf6-a692-370257eaef4f"
			[useContainer]="false"
		></wcw-content-editor>
		<div class="col">
			<img
				src="/assets/images/office_laptop.jpg"
				alt="A laptop on a desk. Well lit."
			/>
		</div>
	</div>
	<div class="row container split-row">
		<wcw-content-editor
			class="col"
			id="bd5cb36f-7135-405f-b767-4a5e189f7365"
			[useContainer]="false"
		></wcw-content-editor>
		<div class="col">
			<img
				src="/assets/images/branding.jpg"
				alt="Book named Brand Identity next to a keyboard."
			/>
		</div>
	</div>
	<div class="row container split-row">
		<wcw-content-editor
			class="col"
			id="51e97f1e-aff8-46d8-9d69-50a91a2f777c"
			[useContainer]="false"
		></wcw-content-editor>
		<div class="col">
			<img
				src="/assets/images/social_media.jpg"
				alt="Social media brand logos on a dark background."
			/>
		</div>
	</div>
</div>
