<a id="skip-header" href="#main" aria-details="Skip to content"
	>Skip to content</a
>
<div class="outerNavWrapper">
	<div class="navWrapper" [ngClass]="getActive()">
		<nav>
			<div class="nav-container">
				<div class="logoWrapper">
					<img
						alt="Woodiwiss Consultants Logo"
						[src]="
							imageBase +
							'/image/a108a8c6-61de-49e3-940b-8d19611967e0/original'
						"
					/>
				</div>
				<div class="buttonWrapper">
					<img
						alt="Woodiwiss Consultants Logo"
						class="button-logo"
						[src]="
							imageBase +
							'/image/a108a8c6-61de-49e3-940b-8d19611967e0/original'
						"
					/>
					<span class="nav-item">
						<a [routerLink]="['/']" (click)="active = false"
							>Home</a
						>
					</span>
					<span class="nav-item">
						<a
							[routerLink]="['/Image Gallery']"
							(click)="active = false"
							>Image Gallery</a
						>
					</span>
					<span class="nav-item">
						<a [routerLink]="['/Contact']" (click)="active = false"
							>Contact</a
						>
					</span>
					<span *ngIf="showAdmin" class="nav-item">
						<a [routerLink]="['/Admin']" (click)="active = false"
							>Admin</a
						>
					</span>
					<span *ngIf="!showAdmin" class="nav-item">
						<a [routerLink]="['/Login']" (click)="active = false"
							>Login</a
						>
					</span>
				</div>
				<div class="closeWrapper" (click)="toggleActive()">
					<span aria-label="Close Menu">X</span>
				</div>
			</div>

			<div class="responsive-sidebar" (click)="toggleActive()">
				<img
					alt="Open Menu"
					src="/assets/icons/menu.png"
					aria-label="Open Menu"
				/>
			</div>
		</nav>
		<main id="main">
			<router-outlet></router-outlet>
		</main>
		<footer>
			<a href="https://www.facebook.com"
				><img alt="Facebook Logo" src="/assets/icons/facebook.png"
			/></a>
			<a href="https://www.twitter.com"
				><img alt="Twitter Logo" src="/assets/icons/twitter.png"
			/></a>
			<a href="https://www.pinterest.co.uk/"
				><img alt="Pinterest Logo" src="/assets/icons/pinterest.png"
			/></a>
		</footer>
	</div>
</div>
