<div class="grid-base wide">
	<div class="row">
		<wcw-image-carousel
			[images]="imageService.images | async"
		></wcw-image-carousel>
	</div>

	<wcw-content-editor
		class="rect-1-2"
		id="5b089549-fcdb-4029-8970-a92e02609985"
	>
	</wcw-content-editor>

	<wcw-content-editor
		class="rect-1-2"
		id="82933976-a229-49db-b000-d7a801acec80"
	>
	</wcw-content-editor>

	<wcw-content-editor
		class="rect-1-2"
		id="402cd0d5-54c9-428c-b1aa-0968951a6179"
	>
	</wcw-content-editor>
	<wcw-content-editor
		class="rect-1-2"
		id="1c2a07a6-438d-4c92-8e3c-7750e58db744"
	>
	</wcw-content-editor>
</div>
