@use '/src/styles/colours';

form.login-form {
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
}

.submit-errors {
	font-family: "Fira Sans Bold", "Fira Sans", Helvetica, Arial, sans-serif;
	color: colours.$brightRed;
	font-size: 14pt;

	p {
		display: flex;
		margin-block-start: 0;
		margin-block-end: 0;
		margin: 6px 6px 0 6px;
	}
}
